.Logo_class {
    
    /* APARIENCIA */
    max-width: 40rem;
    height: 100vh;



    /*Posición y posición de hijos */
    margin: auto;
    margin-top: 1rem;
    padding: 1rem;

    /*Comportamiento*/

}

.Logo_class > h1 {
    font-size: 3rem;
    text-align: center;
    margin: 2rem 0rem;
}


.clases_vinculos > a {
    cursor: pointer; 
    font-size: 3rem;
    text-align: center;
    margin: 2rem 0rem;
}